In [58]:
import pandas as pd
import numpy as np

In [59]:
df = pd.read_csv('Watches Bags Accessories.csv', encoding='latin-1')
df

,Title,Rating in Stars,Rating Count,Sold Count,Voucher,Delivery,Currency,Current Price,Original Price,Link,Category
0,Yfashion Cartoon Electronic Watch Life Water...,4.6/5,707,6K Sold,0,Free Delivery,Rs.,287,Rs. 520,//www.daraz.pk/products/y-led-3-i258744118-s14...,Kids Watches
1,"100% Imported LED watch for men , boys and Kid...",4.3/5,293,1K Sold,0,0,Rs.,270,Rs. 999,//www.daraz.pk/products/100-led-2023-i40167553...,Kids Watches
2,1 Cartoon Characters Analog Wrist Watch For Ki...,4.5/5,57,452 Sold,0,Free Delivery,Rs.,225,Rs. 750,//www.daraz.pk/products/1-i423737473-s20070599...,Kids Watches
3,M3 Touch LED Bracelet Digital Watch Band Good ...,4.6/5,51,332 Sold,0,Free Delivery,Rs.,160,Rs. 299,//www.daraz.pk/products/m3-led-led-i432456407-...,Kids Watches
4,led Watches For Boys and Girls and kids,4.4/5,54,476 Sold,0,Free Delivery,Rs.,198,Rs. 300,//www.daraz.pk/products/led-i398157365-s192654...,Kids Watches
...,...,...,...,...,...,...,...,...,...,...,...
1073,Online Sale Black Stainless Steel Crystal Wris...,4.3/5,24,184 Sold,0,0,Rs.,449,Rs. 699,//www.daraz.pk/products/-i211486470-s141890611...,Womens Watches
1074,Fashionable 3 Chrono Stain Less Steel Analog S...,3.8/5,5,41 Sold,0,Free Delivery,Rs.,648,Rs. 680,//www.daraz.pk/products/3-i360485098-s20577560...,Womens Watches
1075,Gold Color 12 Point Diamond Studded Magnet Sta...,4.4/5,5,41 Sold,0,Free Delivery,Rs.,295,Rs. 650,//www.daraz.pk/products/12-i374944366-s1858380...,Womens Watches
1076,Casual Women Romantic Starry Sky Wrist Watch L...,4.3/5,140,1K Sold,4 Vouchers,Free Delivery,Rs.,529,Rs. 686,//www.daraz.pk/products/casual-women-romantic-...,Womens Watches
1077,Analog Watches For Girls Luxury Stylish Analog...,4.6/5,5,34 Sold,0,0,Rs.,275,Rs. 999,//www.daraz.pk/products/-i426409320-s202572125...,Womens Watches

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1078 entries, 0 to 1077
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Title            1078 non-null   object
 1   Rating in Stars  1078 non-null   object
 2   Rating Count     1078 non-null   int64
 3   Sold Count       1044 non-null   object
 4   Voucher          1078 non-null   object
 5   Delivery         1078 non-null   object
 6   Currency         1078 non-null   object
 7   Current Price    1078 non-null   object
 8   Original Price   1010 non-null   object
 9   Link             1078 non-null   object
 10  Category         1078 non-null   object
dtypes: int64(1), object(10)
memory usage: 92.8+ KB

In [72]:
df.isnull().sum()

Title                0
Rating in Stars    105
Rating Count         0
Sold Count          32
Voucher              0
Delivery             0
Current Price        0
Original Price      67
Category             0
dtype: int64

### Cleaning

In [62]:
df["Rating in Stars"].unique()
df['Rating in Stars'].replace(['5-Apr', '5-May','5-Mar','5-Jan' ], np.nan, inplace=True)
df['Rating in Stars'] = df['Rating in Stars'].str.replace('/5', '').astype(float)

In [63]:
df['Sold Count'] = df['Sold Count'].str.replace('Sold', '')
df['Sold Count'] = df['Sold Count'].str.replace('K', '000').str.strip().astype(float)

In [64]:
df["Current Price"] = df["Current Price"].str.replace(',', '').astype(float)

In [65]:
df["Original Price"] = df["Original Price"].str.replace('Rs.', '')
df["Original Price"] = df["Original Price"].str.replace(',', '').str.strip().astype(float)

In [67]:
df.drop(columns=["Currency", "Link"], inplace=True)

In [71]:
df.drop_duplicates(inplace=True)

### Impute

In [73]:
group_means = df.groupby('Category')['Rating in Stars'].transform('mean')

df['Rating in Stars'].fillna(group_means, inplace=True)

In [74]:
group_means = df.groupby('Category')['Sold Count'].transform('mean')

df['Sold Count'].fillna(group_means, inplace=True)

In [75]:
group_means = df.groupby('Category')['Original Price'].transform('mean')

df['Original Price'].fillna(group_means, inplace=True)

### Feature Engineering

In [78]:
df["Price Difference"] = df["Original Price"]-df["Current Price"]
df["Total Earning"] = df["Sold Count"]*df["Current Price"]

In [79]:
df

,Title,Rating in Stars,Rating Count,Sold Count,Voucher,Delivery,Current Price,Original Price,Category,Price Difference,Total Earning
0,Yfashion Cartoon Electronic Watch Life Water...,4.6,707,6000.0,0,Free Delivery,287.0,520.0,Kids Watches,233.0,1722000.0
1,"100% Imported LED watch for men , boys and Kid...",4.3,293,1000.0,0,0,270.0,999.0,Kids Watches,729.0,270000.0
2,1 Cartoon Characters Analog Wrist Watch For Ki...,4.5,57,452.0,0,Free Delivery,225.0,750.0,Kids Watches,525.0,101700.0
3,M3 Touch LED Bracelet Digital Watch Band Good ...,4.6,51,332.0,0,Free Delivery,160.0,299.0,Kids Watches,139.0,53120.0
4,led Watches For Boys and Girls and kids,4.4,54,476.0,0,Free Delivery,198.0,300.0,Kids Watches,102.0,94248.0
...,...,...,...,...,...,...,...,...,...,...,...
1073,Online Sale Black Stainless Steel Crystal Wris...,4.3,24,184.0,0,0,449.0,699.0,Womens Watches,250.0,82616.0
1074,Fashionable 3 Chrono Stain Less Steel Analog S...,3.8,5,41.0,0,Free Delivery,648.0,680.0,Womens Watches,32.0,26568.0
1075,Gold Color 12 Point Diamond Studded Magnet Sta...,4.4,5,41.0,0,Free Delivery,295.0,650.0,Womens Watches,355.0,12095.0
1076,Casual Women Romantic Starry Sky Wrist Watch L...,4.3,140,1000.0,4 Vouchers,Free Delivery,529.0,686.0,Womens Watches,157.0,529000.0
1077,Analog Watches For Girls Luxury Stylish Analog...,4.6,5,34.0,0,0,275.0,999.0,Womens Watches,724.0,9350.0

# Can not do Feature Analysis Due to unavailability of time variable !!